
## <summary>policy for foxdcoin</summary>


########################################
## <summary>
##	Transition to foxdcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`foxdcoin_domtrans',`
	gen_require(`
		type foxdcoin_t, foxdcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, foxdcoin_exec_t, foxdcoin_t)
')


########################################
## <summary>
##	Execute foxdcoin server in the foxdcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`foxdcoin_initrc_domtrans',`
	gen_require(`
		type foxdcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, foxdcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search foxdcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`foxdcoin_search_lib',`
	gen_require(`
		type foxdcoin_var_lib_t;
	')

	allow $1 foxdcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read foxdcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`foxdcoin_read_lib_files',`
	gen_require(`
		type foxdcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, foxdcoin_var_lib_t, foxdcoin_var_lib_t)
')

########################################
## <summary>
##	Manage foxdcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`foxdcoin_manage_lib_files',`
	gen_require(`
		type foxdcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, foxdcoin_var_lib_t, foxdcoin_var_lib_t)
')

########################################
## <summary>
##	Manage foxdcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`foxdcoin_manage_lib_dirs',`
	gen_require(`
		type foxdcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, foxdcoin_var_lib_t, foxdcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a foxdcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`foxdcoin_admin',`
	gen_require(`
		type foxdcoin_t;
		type foxdcoin_initrc_exec_t;
		type foxdcoin_var_lib_t;
	')

	allow $1 foxdcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, foxdcoin_t)

	foxdcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 foxdcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, foxdcoin_var_lib_t)

')

